@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<PersonalWebsite.ViewModels.Pages.HomepageViewModel>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Homepage.css" />
}

@section BodyScripts {
    <script type="text/javascript" src="~/js/finisher-header.es5.min.js"></script>
    <script type="text/javascript" src="~/js/create-header.js"></script>
}

<section class="introduction finisher-header" style="width: 100%; height: 600px;">

    <div>
        <span class="introduction__greeting">Hello, I am</span>
        <h1 class="page-title">Dudziak Thomas</h1>
        <span class="introduction__funny-sentence">Code is my superpower</span>

        <p class="introduction__description">
            I am a computer science student at the Free University of Brussels (ULB) who is passionate about programming. I am currently looking for an intership in game development, web development or embedded systems.
        </p>
    </div>

</section>

<div class="subsections">
    <section class="subsections__section about">

        <div class="subsections__section__title-container">
            <h2 class="subsections__section__title  about__title">About me</h2>
        </div>


        <div class="subsections__section__content about__content">
            <p>Hey there ! I am Thomas, a programming enthusiast. I love using my skills to create and automate things. From low-level programming, passing by embedded systems and going to web development, I am a code lover. My journey started when I was 15 when I wanted to understand how were computers working and how I could take advantage of them. That is when I started to program in C.</p>
            <p>After hesitating between a whole bunch of science professions, I finally decided to study IT at HELHA and fell in love with web development. After working for one year as a web developer, I thought that I would deepen my computer knowledge and decided to take back studies and started a master in computer science at the Université Libre de Bruxelles (ULB) in 2021.</p>
        </div>

        <div class="about__technologies">
            <article class="about__technologies__technology">
                <img alt="Logo" src="~/media/logo.svg" />
                <span>Git</span>
            </article>
            <article class="about__technologies__technology">
                <img alt="Logo" src="~/media/logo.svg" />
                <span>Git</span>
            </article>
            <article class="about__technologies__technology">
                <img alt="Logo" src="~/media/logo.svg" />
                <span>Git</span>
            </article>
            <article class="about__technologies__technology">
                <img alt="Logo" src="~/media/logo.svg" />
                <span>Git</span>
            </article>
            <article class="about__technologies__technology">
                <img alt="Logo" src="~/media/logo.svg" />
                <span>Git</span>
            </article>
            <article class="about__technologies__technology">
                <img alt="Logo" src="~/media/logo.svg" />
                <span>Git</span>
            </article>
            <article class="about__technologies__technology">
                <img alt="Logo" src="~/media/logo.svg" />
                <span>Git</span>
            </article>
            <article class="about__technologies__technology">
                <img alt="Logo" src="~/media/logo.svg" />
                <span>Git</span>
            </article>
            <article class="about__technologies__technology">
                <img alt="Logo" src="~/media/logo.svg" />
                <span>Git</span>
            </article>
            <article class="about__technologies__technology">
                <img alt="Logo" src="~/media/logo.svg" />
                <span>Git</span>
            </article>
            <article class="about__technologies__technology">
                <img alt="Logo" src="~/media/logo.svg" />
                <span>Git</span>
            </article>
            <article class="about__technologies__technology">
                <img alt="Logo" src="~/media/logo.svg" />
                <span>Git</span>
            </article>
        </div>

        <div class="about__disclaimer">
            <span>Spoiler : Never talk about aviation with me unless you want to have a 10-hour conversation :)</span>
        </div>

        <div class="about__photo">
            <img alt="Picture of me" src="~/media/me.jpg" />
        </div>
    </section>


    <section class="subsections__section experience">
        <div class="subsections__section__title-container">
            <h2 class="subsections__section__title experience__title">Experience</h2>
        </div>

        <div class="subsections__section__content experience__content">

            <article class="experience__content__item">
                <span class="experience__content__item__position">Student <a href="https://www.helha.be" class="experience__content__item__enterprise">HelHa</a></span>
                <span class="experience__content__item__place">Tournai, Belgium</span>

                <div class="experience__content__item__dates">
                    <a class="experience__content__item__dates__start">September 2017</a>
                    <a class="experience__content__item__dates__end">June 2020</a>
                </div>

                <div class="experience__content__item__description">
                    <p>
                        Graduated from HelHa with a bachelor in information tehnology. I could learn about networks, programming, electronics, electricity, ... .
                    </p>
                </div>
            </article>

            <article class="experience__content__item">
                <span class="experience__content__item__position">.NET Analyst-developer <a href="https://www.wavenet.be" class="experience__content__item__enterprise">Wavenet</a></span>
                <span class="experience__content__item__place">Leuze-en-Hainaut, Belgium</span>

                <div class="experience__content__item__dates">
                    <a class="experience__content__item__dates__start">August 2020</a>
                    <a class="experience__content__item__dates__end">August 2021</a>
                </div>

                <div class="experience__content__item__description">
                    <p>
                        After doing my internship at Wavenet, I have been employed there. I used to maintain and develop web applications and websites using different technologies. I have worked for clients such as Industeel (subsidiary of ArcelorMittal), EuroNCAP, IFAPME and many more...
                    </p>
                </div>
            </article>

            <article class="experience__content__item">
                <span class="experience__content__item__position">Computer science student <a href="https://www.ulb.be" class="experience__content__item__enterprise">ULB</a></span>
                <span class="experience__content__item__place">Brussels, Belgium</span>

                <div class="experience__content__item__dates">
                    <a class="experience__content__item__dates__start">September 2017</a>
                    <a class="experience__content__item__dates__end">Present</a>
                </div>

                <div class="experience__content__item__description">
                    <p>
                        After one year of experience, I wanted to deepen my knowledge about computer, the mathematical concepts behind computers, algorithms, databases ... . This is the reason why I decided to continue my studies for a Master's degree in computer science. 
                    </p>
                </div>
            </article>

        </div>
    </section>

    <section class="subsections__section projects">
        <div class="subsections__section__title-container">
            <h2 class="subsections__section__title projects__title">Projects</h2>
        </div>

        <div class="subsections__section__content projects__content">
            <p class="projects__content__disclaimer">
                Here is a small insight on the projects I have done which I am the most proud of.
            </p>

            <div class="projects__content__project-list">
                <article class="projects__content__project-list__item">

                    <div class="projects__content__project-list__item__header">
                        <div>
                            <a href="#" class="projects__content__project-list__item__title">This website</a>
                            <span class="projects__content__project-list__item__date">April 2023</span>
                        </div>
                        <div class="projects__content__project-list__item__links">
                            G
                        </div>
                    </div>


                    <p class="projects__content__project-list__item__description">
                        It may seem silly but... yes ! This website is small but yet it is a cool project where I put all my web development skills together. Also, design is not my cup of tea and I still came up with a style I do like ! To make it short, I am pretty happy with it !
                    </p>

                    <ul class="projects__content__project-list__item__technologies">
                        <li>HTML</li>
                        <li>SCSS</li>
                        <li>Javascript</li>
                        <li>C#</li>
                        <li>Umbraco</li>
                        <li>xStatic plugin by Sam Mullins</li>
                    </ul>
                </article>
                <article class="projects__content__project-list__item">

                    <div class="projects__content__project-list__item__header">
                        <div>
                            <a href="#" class="projects__content__project-list__item__title">This website</a>
                            <span class="projects__content__project-list__item__date">April 2023</span>
                        </div>
                        <div class="projects__content__project-list__item__links">
                            G
                        </div>
                    </div>


                    <p class="projects__content__project-list__item__description">
                        It may seem silly but... yes ! This website is small but yet it is a cool project where I put all my web development skills together. Also, design is not my cup of tea and I still came up with a style I do like ! To make it short, I am pretty happy with it !
                    </p>

                    <ul class="projects__content__project-list__item__technologies">
                        <li>HTML</li>
                        <li>SCSS</li>
                        <li>Javascript</li>
                        <li>C#</li>
                        <li>Umbraco</li>
                        <li>xStatic plugin by Sam Mullins</li>
                    </ul>
                </article>
                <article class="projects__content__project-list__item">

                    <div class="projects__content__project-list__item__header">
                        <div>
                            <a href="#" class="projects__content__project-list__item__title">This website</a>
                            <span class="projects__content__project-list__item__date">April 2023</span>
                        </div>
                        <div class="projects__content__project-list__item__links">
                            G
                        </div>
                    </div>


                    <p class="projects__content__project-list__item__description">
                        It may seem silly but... yes ! This website is small but yet it is a cool project where I put all my web development skills together. Also, design is not my cup of tea and I still came up with a style I do like ! To make it short, I am pretty happy with it !
                    </p>

                    <ul class="projects__content__project-list__item__technologies">
                        <li>HTML</li>
                        <li>SCSS</li>
                        <li>Javascript</li>
                        <li>C#</li>
                        <li>Umbraco</li>
                        <li>xStatic plugin by Sam Mullins</li>
                    </ul>
                </article>
                <article class="projects__content__project-list__item">

                    <div class="projects__content__project-list__item__header">
                        <div>
                            <a href="#" class="projects__content__project-list__item__title">This website</a>
                            <span class="projects__content__project-list__item__date">April 2023</span>
                        </div>
                        <div class="projects__content__project-list__item__links">
                            G
                        </div>
                    </div>


                    <p class="projects__content__project-list__item__description">
                        It may seem silly but... yes ! This website is small but yet it is a cool project where I put all my web development skills together. Also, design is not my cup of tea and I still came up with a style I do like ! To make it short, I am pretty happy with it !
                    </p>

                    <ul class="projects__content__project-list__item__technologies">
                        <li>HTML</li>
                        <li>SCSS</li>
                        <li>Javascript</li>
                        <li>C#</li>
                        <li>Umbraco</li>
                        <li>xStatic plugin by Sam Mullins</li>
                    </ul>
                </article>
            </div>
        </div>
    </section>

    <section class="subsections__section contact">
        <div class="subsections__section__title-container">
            <h2 class="subsections__section__title contact__title">Contact me</h2>
        </div>

        <div class="subsections__section__content contact__content">
            <p class="contact__content__message">Do you want to reach me out ? No problem, send me an email and I will answer ! If you want to propose me an internship between August 2023 and October/November 2023, that's great, I am looking forward to a new opportunity !</p>

            <div class="contact__content__button-container">
                <a class="contact__content__button" href="mailto:thomas.dudziak@outlook.be">Send me a message :)</a>
            </div>
        </div>
    </section>
</div>