@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<PersonalWebsite.ViewModels.Pages.HomepageViewModel>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <span>Hello, I am</span>
    <h1>Dudziak Thomas</h1>
    <span>Code is my superpower</span>

    <p>
        I am a computer science student at the Free University of Brussels (ULB) who is passionate about programming. I am currently looking for an intership in game development, web development or embedded systems.
    </p>
</section>

<div>
    <section>
        <h2>About me</h2>
    </section>

    <section>
        <h2>Experience</h2>
    </section>

    <section>   
        <h2>Some of my projects</h2>
    </section>
    
    <section>
        <h2>Contact me</h2>
    </section>
</div>