@import "../Variables.scss";

@mixin btn-accent {
    text-decoration: none;
    display: inline-block;
    color: $accentColor;
    border: 1px solid $accentColor;
    border-radius: 3px;
    padding: 1rem 2rem;
    cursor: pointer;
    text-align: center;

    &:hover,
    &:active,
    &:focus {
        background-color: rgba(166, 201, 166, 0.2);
    }
}
