@import "Variables.scss";

html,
body {
    margin: 0;
    padding: 0;
    
    color: $whiteColor;
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', Times, serif;
}

.color-primary {
    color: $primaryColor;
}

.color-secondary {
    color: $secondaryColor;
}

.color-tertiary {
    color: $tertiaryColor;
}

.color-accent {
    color: $accentColor;
}
