$primaryColor: #0A1128;
$secondaryColor: #5DA3FE;
$tertiaryColor: #E0AFA0;
$accentColor: #A6C9A6;

$blackColor: #000;
$whiteColor: #FFF;
$lightGrayColor: #F1F5F8;

$headerHeight: 90px;

$hamburgerWidth: 32px;
$hamburgerHorizontalSpacing: 20px;

$breakpointMobile: 769px;
$breakpointTablet: 1025px;
$breakpointDesktop: 1201px;
$breakpointLargeDesktop: 1921px; 
