$primaryColor: #2C3333;
$secondaryColor: #2E4F4F;
$tertiaryColor: #0E8388;
$accentColor: #CBE4DE;

$blackColor: #000;
$whiteColor: #FFF;

$headerHeight: 90px;

$hamburgerWidth: 32px;
$hamburgerHorizontalSpacing: 20px;

$breakpointMobile: 769px;
$breakpointTablet: 1025px;
$breakpointDesktop: 1201px;
$breakpointLargeDesktop: 1921px;
